---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import '../styles/global.css';
---
<footer>
<hr />
<p>P211012626 杨睿曦</p>
<p><span>版权所有 &copy; 2024 XBMU 西北民族大学</p>
        </footer>

<style>
    footer{
        text-align: center;
        color: #cd6969
    }
</style>