---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import '../styles/global.css';
---
<footer>
<hr />
			<p><span></span>喜欢易烊千玺 ——Yyqx And Yrx</p>
        </footer>

<style>
    footer{
        text-align: center;
        font-family: '方正硬笔楷书简体';
        color: rgb(228, 16, 37);
    }
</style>