---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import '../styles/global.css';
---


<a href="/">Home</a>
<a href="/about/">About</a>
<a href="/blog/">Blog</a>
<a href="/notes/">Notes</a>

<style>
    a{
        color: rgb(245, 193, 212)
        font-family: '方正仿宋简体';
        margin-right: 0.5em;
    }
    a:hover{
        text-decoration: none;
        background-color: rgb(250, 209, 242)
    }
</style>